<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=Indicatori)"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="transparentbox">
	<div>
	<div class="center spaziaPoco riquadroDescr">Questi sono le tipologie di esami salvate</div>
	<div id="related_links" class="center">
    	<h4>Tipologie degli esami</h4>
		<ul>
			<li th:each="tipologiaesame : ${tipologiaEsami}">
				<a href="tipologiaesame.html" 
				   th:href="@{'tipologiaesameSelezionato' + '/' + ${tipologiaesame.id}}" 
				   th:text="${tipologiaesame.nome}+ '   ' +${tipologiaesame.costo}"></a>
			</li>
		</ul>
		</div>
	</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>