<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div class="transparentbox">
    	
		<div class="">
			
   		</div>
   		<div class="center">
			<h4>esame:</h4>
    	<div th:if="${esame}" th:object="${esame}">
    	<h5>data prenotazione:</h5>
    	<div class="center">
			<h5 th:text="*{prenotato}">descrizione</h5>
			</div>
   		</div>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>