<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=Indicatori)"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="transparentbox">
	<div>
	<div class="center spaziaPoco riquadroDescr">Seleziona un indicatore da aggiungere ai risultati</div>
	<div id="related_links" class="center">
    	<h4>Lista degli indicatori</h4>
		<ul>
			<li th:each="indicatore : ${indicatori}">
				<a href="indicatore.html" 
				   th:href="@{'indicatoreScelto' + '/' + ${indicatore.id}}" 
				   th:text="${indicatore.nome}"></a>
			</li>
		</ul>
		</div>
	</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>