<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=Azienda)"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="transparentbox">
    <div>
    	<h4>Tipologia Esame:</h4>
    	<div th:if="${tipologiaesami}" th:object="${tipologiaesami}">
    	<h5>Nome:</h5>
    	<div class="center">
			<h5 th:text="*{nome}">nome</h5>
			<div class="center">
			<h5 th:text="*{descrizione}">descrizione</h5>
			</div>
			<div class="center">
			<h5 th:text="*{costo}">costo</h5>
			
			<ul>
			<li th:each="Prerequisito : ${prerequisiti}">
			<div th:if="${Prerequisito}" th:object="${Prerequaisito}">
				<a href="prerequisito.html" 
				   th:href="@{'/prerequisito' + '/' + ${Prerequisito.id}}" 
				   th:text="|${Prerequisito.descrizione} ${Prerequisito.valore}|">Penna rossa</a>
			</li>
			
		</ul>
		</div>
			
			</div>
			</div>
			</div>
		</div>
   		
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>