<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=Azienda)"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="transparentbox">
    <div>
    	<h4>Prerequisito:</h4>
    	<div th:if="${prerequisito}" th:object="${prerequisito}">
    	<h5>descrizione:</h5>
    	<div class="center">
			<h5 th:text="*{descrizione}">descrizione</h5>
			</div>
			<h5>valore:</h5>
			<div class="center">
			<h5 th:text="*{valore}">valore </h5>
			</div>
			
		</div>
   		</div>
   		</div>
   	
    	
   
	  
   
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>